.carouselexamplefade{
    padding-top: 500px;
}

h1{
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
}

.navbar-brand{
background-color: rgba(210, 234, 239, 0.571);


}